<!-- Validation failure messages -->
<% if @interest_indication.errors.any? %>
  <% @interest_indication.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Interest Indication</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_interest_indication" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for interest -->
      <div class="checkbox">
        <label for="interest">
          <input type="checkbox" id="interest" name="interest" value="1" <%= "checked" if @interest_indication.interest %>>
          Interest
        </label>
      </div>

      <!-- Label and input for competition_name -->
      <div class="form-group">
        <label for="competition_name" class="control-label">
          Competition name
        </label>

        <input type="text" id="competition_name" name="competition_name" placeholder="Competition name" class="form-control" value="<%= @interest_indication.competition_name %>">
      </div>

      <!-- Label and input for email_address -->
      <div class="form-group">
        <label for="email_address" class="control-label">
          Email address
        </label>

        <input type="text" id="email_address" name="email_address" placeholder="Email address" class="form-control" value="<%= @interest_indication.email_address %>">
      </div>

      <!-- Label and input for end_date -->
      <div class="form-group">
        <label for="end_date" class="control-label">
          End date
        </label>

        <input type="text" id="end_date" name="end_date" placeholder="End date" class="form-control" value="<%= @interest_indication.end_date %>">
      </div>

      <button class="btn btn-success">
        Create Interest Indication
      </button>
      or
      <a href="/interest_indications">Cancel</a>
    </form>
  </div>
</div>
