<div class="page-header">
  <h3>Interest Indication #<%= @interest_indication.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Interest</dt>
      <dd><%= @interest_indication.interest %></dd>

      <dt>Competition name</dt>
      <dd><%= @interest_indication.competition_name %></dd>

      <dt>Email address</dt>
      <dd><%= @interest_indication.email_address %></dd>

      <dt>End date</dt>
      <dd><%= @interest_indication.end_date %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/interest_indications" class="btn btn-primary">
        Back
      </a>
      <a href="/interest_indications/<%= @interest_indication.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_interest_indication/<%= @interest_indication.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
